.sidebar {
  background-color: #FB7374;
  color: #FFFFFF;
  float: left;
  height: 100vh;
  width: 200px;
  font-family: $default-font;
  padding: 10px;

  > ul, ol {
    list-style: none;
    margin-left: -10px;

    > li {
      cursor: pointer;
      padding: 5px;

      &:hover,
      &:focus {
        opacity: 0.75;
      }

      &:active {
        opacity: 0.90;
      }
    }

    > span {
      padding: 20px;
    }
  }
}
